[submodule "stuff-products"]
	path = stuff-products
	url = https://github.com/markstgodard/stuff-products
[submodule "stuff-cart"]
	path = stuff-cart
	url = https://github.com/markstgodard/stuff-cart
[submodule "stuff-storefront"]
	path = stuff-storefront
	url = https://github.com/markstgodard/stuff-storefront
[submodule "stuff-orders"]
	path = stuff-orders
	url = https://github.com/markstgodard/stuff-orders.git
[submodule "stuff-logging-elk"]
	path = stuff-logging-elk
	url = https://github.com/markstgodard/stuff-logging-elk
[submodule "stuff-service-registry"]
	path = stuff-service-registry
	url = https://github.com/markstgodard/stuff-service-registry.git
[submodule "stuff-api-gateway"]
	path = stuff-api-gateway
	url = https://github.com/markstgodard/stuff-api-gateway.git
